html, body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.cat-navbar {
  background-color: white;
  border-bottom: 2px solid black;
  padding: 10px 20px;
  transition: all 0.3s ease;
}


/* edit halaman home */
#home {
  min-height: 100vh;
  width: 100%;
  background-image: url("../gambar/home\(1\).jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;      
  justify-content: flex-start; 
  text-align: left;         
  padding-left: 10%;        
}

.cat-text h1 {
  font-size: 5.5rem;
  position: center;
  font-weight: 800;

}

.cat-text p {
  font-size: 1.5rem;
  margin-top: 1rem;
}


/* edit halaman profile */
#profile{
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#profile h5 {     
  font-weight: 800;
  font-size: 3rem; 
}

#profile p {
  font-size: 1.5rem;    
  line-height: 1.8;
}

#profile .carousel,
#profile .carousel-inner,
#profile .carousel-item {
  height: 100vh; 
}

#profile .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  bottom: auto;
  max-width: 700px;
  color: black;
}

#profile .carousel-item {
    /* background-image: url("../gambar/profile.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}


/* edit halaman galeri */
#gallery { 
  width: 100%;
  background-color: #d1ecfd; 
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  box-sizing: border-box;
}

.cat-text-gallery h1 {
  font-weight: 800;
  font-size: 3rem; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-container .card {
  width: 180px;       
  height: 230px;      
  margin: auto;       
}

.gallery-container .card-img-top {
  width: 100%;        
  height: 150px;      
  object-fit: cover;  
  display: block;
}

.gallery-container .card-body {
  padding: 0.25rem;   
}

.gallery-container .card-title {
  font-size: 0.85rem;
  margin: 0;
  text-align: center;
}


/* edit halaman care */
#care {
  min-height: 100vh;
  background-color: white;
  padding-bottom: 60px;
}

#care h1 {
  font-weight: 800;
  font-size: 3rem; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#care h5 {
  font-weight: 700;
  
}

#care .list-group-item {
  font-size: 16px;
  line-height: 1.6;
}


/* edit halaman message */
#message{
  min-height: 100vh;
  background-color: #d1ecfd; 
}

#message h2{
  font-size: 3rem;
  position: center;
  font-weight: 800;
}

.story-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.story-card h5 {
  margin-bottom: 5px;
  font-weight: bold;
}

.story-card small {
  color: grey;
}
